.nav-container{
  padding:15px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(183, 228, 247);

}

.navbar-user{
  margin-top: 10px;
}

.add-todos{
margin-left: 41%;
}

.all-todos{
  margin-left: 46%;
}

.border {
  border: 1px solid gray;
  height: 28px;
  border-radius: 3px;
  padding: 0px;
  width: 75%;
  align-items: center;
  font-weight: 500;
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-left: 12%;
}

.lists {
  padding: 8px;
  color: gray;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 1000px;
}

.black {
  cursor: pointer;
  color: white;
  padding: 6px;
  background-color:dimgrey;
  border-radius: 3px;
}

.white {
  color: gray;
  cursor: pointer;
}

.btn-save{
  margin-left: 22%;
  justify-content: center;
}

.select-role{
  width: 100%;
}